{{ define "main" }}

<section class="maintenance">

  <div class="container">
    <div class="row">
        <div class="col">
          <div class="text-center">
            <div class="card flex-row flex-wrap">
              <div class="border-0">
                  <img src='{{ "/images/t-shirt/homme.jpg" | absURL }}' alt="">
                  <img src='{{ "/images/t-shirt/femme.jpg" | absURL }}' alt="">
              </div>
              <div class="card-block px-2">
                <h1 class="p-5">
                  Un T-Shirt acheté une bière de plus de brassée !
                </h1>
              </div>
              <div class="w-100"></div>
              <div class="card-footer w-100 text-muted">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdp2bx3d0kIeYOLMpT_7eAoKQI9v9pbCjoTlKX-TbrnQq6xEw/viewform?embedded=true"
                  width="840"
                  height="2759"
                  frameborder="0"
                  marginheight="0"
                  marginwidth="0">
                    Chargement…
                </iframe>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
{{ end }}