{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.products.enable }}
<section class="gallery" id="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>{{ $data.homepage.products.title | markdownify }}</h2>
        </div>

        <div class="product-slider">
          {{ $products := (where .Site.RegularPages "Section" "beers") }}
          {{ range sort $products ".Title" "desc" }}
          <div class="block">
            <div class="gallery-overlay">
              <a href="{{ .Permalink }}" class="gallery-popup">
                <i class="tf-ion-android-open"></i>
              </a>
            </div>
            {{ partial (printf "beers/%s" (default "pint.svg" .Params.logo)) (dict "colors" (default (dict "light" "#FA9C1C" "dark" "#FBB049") .Params.colors)) }}
            <h3 class="p-3 text-center">{{ .Title }}</h3>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}