{{ define "main" }}

<section class="shop">
  <div class="container-fluid">
    <div class="row">
        <div class="col p-0">
          <div class="text-center">
            <div class="card flex-row flex-wrap bg-orange">
              <div class="border-0 p-3">
                <div class="h-100">
                  <h1 class="text-center">
                    Les T-Shirts du 110Lab sont arrivés !
                  </h1>
                </div>
              </div>
              <div class="border-0 p-3 mx-auto">
                <img src='{{ "/images/shop/homme.jpg" | absURL }}' class="rounded mx-auto d-block" alt="T-Shirt Homme" />
              </div>
              <div class="border-0 p-3 mx-auto">
                <img src='{{ "/images/shop/femme.jpg" | absURL }}' class="rounded mx-auto d-block" alt="T-Shirt Femme" />
              </div>
            </div>
            <div class="card-footer embed-responsive embed-responsive-1by1">
              <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdp2bx3d0kIeYOLMpT_7eAoKQI9v9pbCjoTlKX-TbrnQq6xEw/viewform?embedded=true"
                class="embed-responsive-item"
                frameborder="0"
                marginheight="0"
                marginwidth="0">
                  Chargement…
              </iframe>
            </div>
          </div>
        </div>
    </div>
</div>
{{ end }}